html, body,main{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: sans-serif;
}

h3 {
    color:rgb(67, 64, 255);
}


h5{
    color:rgb(67, 64, 255);
}

p{
    color:aqua;
}

/*CONTENEDOR*/
.container{
    display: flex;
}
.logo{
    display: flex;
    justify-content: center;
}

.enlaces{
    display: flex;
    justify-content: center;
    margin: 40px;
}

.enlace{
    padding: 80px;
}

.contenedor-card{
    width: 100%;
    max-width: 1200px;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.contenedor-card .card{
    width: 330px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(4, 0, 255, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.contenedor-card .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(183, 0, 255, 0.2);
}

/*CONTENEDOR 2*/

.container-2{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 100;
    margin-right: 100;
    
}

.title-trucos{
    width: 140;
    height: 37;
    text-align: center;
    color: blue;
}

.textarea{
    resize: none;
    float: left;
    margin-left: 269px;

}

.title-noticias{
    width: 140;
    height: 37;
    text-align: center;
    color: blue;
    
}

.noticias{
    width: 800;
    max-width: 1105px;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

}

.noticias .card-noticias{
    width: 330px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(4, 0, 255, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.noticias .card-noticias:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(183, 0, 255, 0.2);
}

.separador{
    height: 60px;
}

.title-ranking{
    color:rgb(67, 64, 255);
    padding-left: 105px;
    
}

.container-ranking{
    padding-left: 105px;
    padding-right: 105px;
    display: flex;
    flex-wrap: nowrap;
}

.persona{
    width: 100%;
    max-width: 1200px;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.img-persona{
    width: 110px;
    height: 110px;
    align-items: center;
    margin: 30px;
}

.img-persona:hover{
    
     transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(183, 0, 255, 0.2);
}

.nombre-persona{
    color: blueviolet;
    align-items: center;
}

.footer{
    display: flex;
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: rgba(137, 43, 226, 0.185);
}

.footer .redes-sociales{
    width: 500px;
    display: flex;
    padding-left: 100px;
}

.redsocial{
    padding-right: 100px;
    padding-top: 30px
}

.ubicacion{
    display: flex;
    float: right;
    padding-top: 30px;
    padding-left: 1000px;
}

.direccion{
    color:aqua;
}

.copyright{
    background-color: rgba(137, 43, 226, 0.185);
    text-align: center;
    padding-bottom: 10px;
}

.text-copyright{
    margin: 0px;
    color: aqua;
}